%h1 BU RideShare
%p
    The RideShare application allows users from the Binghamton University
    community organize car pools to save time, money, and the enviornment.
%b
%h2 About the RideShare Project
%p
    RideShare is open source and available to anyone. See our AgileVentures
    %a{:href => 'http://www.agileventures.org/projects/burideshare'} project page 
    for information on how to obtian or contribute to the project. Any contributions
    and feedback are welcome.
%h2 About the RideShare Team
%p
    RideShare was originally created as a class project by Joseph Lee,
    Matt Price, Christopher Browman, and Magie Wu.