%h1 Contact
%p
    To contact the BURideShare development team or submit a bug report,
    please visit the project's
    = succeed "." do
        = link_to "GitHub page", "https://github.com/slee264/RideShare"

-# call to 'succeed' necessary for adding the period after the link, as
-# having a dot/period by itself on a line causes a Haml syntax error