%h1 Frequently Asked Questions
:markdown
    ## Table of Contents
    1. [About](#about)
        * [How is BURideShare different than Uber or Lyft?](#not_uber)
        * [Do I need to pay for rides?](#payment)
        * [Why is BURideShare limited to students at Binghamton University?](#bu_only)
        * [Getting rides from strangers sounds dangerous. How safe is BURideShare?](#stranger_danger)
        * [Why are the search and ride post features limited to county? Why can't I search by town?](#why_county)
        * [My county isn't listed! How am I going to get home?](#not_listed)
    2. [Using](#using)
        * [What do I need to sign up for BURideShare?](#sign-up)
        * [How do I post an offer for a ride?](#how_post)
        * [How do I search for an available ride that meets my needs?](#how_search)
        * [I've found a ride offer that looks good. How do I accept?](#how_accept)
        * [I had a great/terrible ride share experience. How do I tell others?](#how_tell)
    3. [Development/Deployment](#dev-dep)
        * [How can I run a RideShare site for my school/organization/community?](#run)
        * [What technologies power RideShare?](#technologies)
        * [I'm a developer and I want to contribute to the RideShare project. Where's the code?](#code)
    
    ----
    
    ## About<a name="about"></a>
    **Q:** How is BURideShare different than Uber or Lyft?<a name="not_uber"></a>  
    **A:** While both BURideShare and services like [Uber](https://www.uber.com/) or [Lyft](https://www.lyft.com/) help people to share get and share rides, the services server very different purposes. Uber and Lyft act as replacements for traditional taxi service. With such services you use a phone app to signal that you want someone to pick you up, and they find you and, for a fee, take you there. BURideShare is different. Instead of being a replacement for a taxi service, we act as a replacement for the Ride Board that used to be located in the Student Union. Our focus is on helping members of the Binghamton University community who need a ride connect with others already traveling to their destination (or one nearby). In other words, we help arrange car pools, not taxi rides.
    
    **Q:** Do I need to pay for rides?<a name="payment"></a>  
    **A:** Using the BURideShare website is completely free. However, those sharing a ride will usually be expected to share the cost of gas and tolls with the driver. Negotiation of these costs is up to the participants. It should be noted, though, that BURideShare is not about making money. Offering rides for profit is against our terms of service.
    
    **Q:** Why is BURideShare limited to students at Binghamton University?<a name="bu_only"></a>  
    **A:** There are two primary reasons for this. The first is that our focus on sharing rides (car pool style) means that our service only makes sense for people going to and/or coming from the same general location. Think, for example, traveling home from campus before a vacation. Since all the participants are students their schedules are somewhat similar, and their start destination is the same (the Binghamton area). Allowing non-students would introduce a lot of variability in the times and locations of travel.
    
    The second primary reason we focus exclusively on students is for safety. Because a Binghamton University e-mail address is required for an account, you can know for sure the person really is who he/she says he/she is. This lets you check out a prospective driver or passenger before the trip, and ensures people with poor reputations can't simply create a new account under a different name.
    
    And, while not really a primary reason for ensuring everyone is a member of the BU community, people going to the same school will likely have more in common! Part of the fun of sharing a ride is getting to know more people, and that's easier when you have stuff to talk about!
    
    **Q:** Getting rides from strangers sounds dangerous. How safe is BURideShare?<a name="stranger_danger"></a>  
    **A:** Dealing with new people always presents some risk, but we believe the BURideShare program is very safe. By requiring a valid Binghamton University e-mail address to create an account, you know the actual identity of anyone on the site. This gives you a chance to learn more about them before agreeing to share a ride. You also have the opportunity to contact the other people involved or even meet in person to make sure everyone's on the same page. You can also check out ratings given by other students who have interacted with them on the site before. And besides, these really aren't strangers. They're the guy from your math class, the girl you met downtown, or the folks who live down the hall in your dorm.
    
    **Q:** Why are the search and ride post features limited to county? Why can't I search by town?<a name="why_county"></a>  
    **A:** While a more precise way to search is a future goal of the project, right now posting and searching are limited to county. Additional location information can be shared in the ride description and discussed with other potential car-mates. 
    
    **Q:** My county isn't listed! How am I going to get home?<a name="not_listed"></a>  
    **A:** Since this site focuses on students at Binghamton University, we only included counties that are within driving distance of campus. If you think your county should be listed, feel free to contact us.
    
    ----
    
    ## Using<a name="using"></a>
    **Q:** What do I need to sign up for BURideShare?<a name="sign-up"></a>  
    **A:** All you need is your name and a valid Binghamton University e-mail address. That's it!
    
    **Q:** How do I post an offer for a ride?<a name="how_post"></a>  
    **A:**
    
    **Q:** How do I search for an available ride that meets my needs?<a name="how_search"></a>  
    **A:** 
    
    **Q:** I've found a ride offer that looks good. How do I accept?<a name="how_accept"></a>  
    **A:**
    
    **Q:** I had a great/terrible ride share experience. How do I tell others?<a name="how_tell"></a>  
    **A:**
    
    ----
    
    ## Development/Deployment<a name="dev-dep"></a>
    **Q:** How can I run a RideShare site for my school/organization/community?<a name="run"></a>  
    **A:** The RideShare project is completely free and open source! To download the source code and learn more about how to bring a convenient ride share organizer to your group, visit our [GitHub project page](http://www.agileventures.org/projects/burideshare).
    
    **Q:** What technologies power RideShare?<a name="technologies"></a>  
    **A:** The RideShare application is powered by [Ruby on Rails](http://rubyonrails.org/), as well as several other open source projects. In terms of deploying your own RideShare site, all that's required is a server supporting RoR and a supported database such as [PostgreSQL](https://www.postgresql.org/). See the project's [GitHub page](https://github.com/slee264/RideShare) for more information.
    
    **Q:** I'm a developer and I want to contribute to the RideShare project. Where's the code?<a name="code"></a>  
    **A:** You can find all the source code for RideShare at our [GitHub project page](https://github.com/slee264/RideShare). Additional information is located on our [AgileVentures project page](http://www.agileventures.org/projects/burideshare).
    
    Contributions are welcome!
    
