-#%h2= "Departure Location: " + @search_departure
-#%h2= "Destination Location: " + @search_destination
%h2= "Year: " + @search_year.inspect
-@rides.each do |ride|
    %h2= ride[:destination_location]