-# -if @rides.present?
-# %tables#rides
-#  %thead
-#   %tr
-#    %th Departure Location
-#    %th Destination Location
-#    %th Date and Time
-#  %tbody
-#   - @rides.each do |ride|
-#    %tr
-#      %td=ride.departure_location
-#     %td=ride.destination_location
-#      %td=ride.dateAndTime